@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --textColor: #1e1f24;
  }
}

body {
  color: rgb(var(--textColor));
  background-color: #fbf9fe !important;
}

body .text-primary {
  color: #6242dc !important;
}
body .link-primary {
  color: #6242dc !important;
}
